body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    text-align: center;
    color: #e62429; /* Color rojo de Marvel */
}

.data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.data-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 20px;
    width: calc(33.333% - 40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
}

.data-item h2 {
    color: #e62429;
}

.data-item p {
    color: #666;
}

/* Estilos adicionales para la búsqueda de personajes */

.jumbotron {
    background-color: #e62429;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.header-main-title {
    text-align: center;
    color: #fff;
}

.character-search-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.search-character-button {
    background-color: #e62429;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#cards-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.card-title {
    color: #e62429;
}

.card-text {
    color: #666;
}

